<div class="container">
  <ol class="breadcrumb">
    <li><a href = "index.html">Home</a></li>
    <li><a href = "our-specialities.html">Our Specialities</a></li>    
    <li class = "active"> Cardiac Surgery </li>
    
    
  </ol>
</div>

<div class="main">
  <div class="container">
    <div class="white-bg our-specialities-internalpage">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
    <li class="active"><a href="#overview">Overview</a></li>
    <li><a href="#facilities"> Facilities  </a></li>
    <li><a href="#clinical-team"> Clinical Team </a></li>
</ul>
<div class="page-title">The Largest and Most Adept Cardiac Surgery Team In The World</div>
<div id="overview">

</div>
<div id="facilities"><a name="facilities"></a>
<div class="centreLine">
<h3><span> Facilities </span></h3>
</div>
<div class="col-sm-12">
<div class="gray-column-anaesthio">
<h2>Services</h2>

</div>
</div>



</div>            
                  
           
                <div id="clinical-team">
                  <a name="clinical-team"></a>
                     <div class="centreLine">
                        <h3> <span> Clinical Team </span> </h3>
                     </div> 

                    <div id="myCarousel" class="carousel slide">                 
                      <div class="carousel-inner">
                        <div class="item active"> 
                          <div class="col-sm-2"> 
                                       
                          </div>
                        </div>

                        <div class="item">
                          <div class="col-sm-2"> 
                          </div>
                        </div>         
                      </div><!--/carousel-inner--> 
                    </div>
                </div>                   
                      
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4><i class="fa fa-comment"></i> Patients Speak </h4>
        <div class="testimonials">
          <div id="carousel-testimoial" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            
            <!-- Wrapper for slides -->  
            <div class="carousel-inner">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-6">
          <h4> <i class="fa fa-video-camera"></i> Testimonial Videos </h4>
        </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="col-sm-2">
      <div class="footer-title"> Patient Care </div>
      <div class="footer-nav">
        <ul>
          <li> <a href="book-an-appointment.html"> Request an Appointment </a> </li>
          <li> <a href="find-a-doctor.html"> Find a Doctor </a> </li>
          <li> <a href="testimonials.html"> Testimonials </a> </li>
          <li> <a href="index.html"> Health and Lifestyle </a> </li>
          <li> <a href="downloads.html"> Downloads </a> </li>
          <li> <a href="facilities.html"> Facilities </a> </li>
          <li> <a href="newsroom.html"> Newsroom </a> </li>
        </ul>
      </div>
      
     
    </div>
    <div class="col-sm-3">
      <div class="footer-title"> Our Specialities </div>
      <div class="footer-nav">
        <ul>
          <li><a href="cardiology.html">Cardiology</a></li><li><a href="cardiac-surgery.html">Cardiac Surgery</a></li><li><a href="paediatric-fetal-cardiology.html">Paediatric & Fetal Cardiology</a></li><li><a href="paediatric-cardiac-surgery.html">Paediatric Cardiac Surgery </a></li><li><a href="heart-transplant.html">Heart Transplant</a></li><li><a href="liver-and-digestive-diseases-institute.html">Liver & Digestive Diseases Institute</a></li><li><a href="kidney-and-urology-institute.html">Kidney and Urology Institute</a></li><li><a href="bone-and-joint-institute.html">Bone And Joint Institute</a></li><li class="view-all"><a href="our-specialities.html">More </a> </li>        </ul>
      </div>
    </div>
    
    
    
    <div class="col-sm-3">
      <div class="footer-title"> Health Calculator </div>
      <div class="footer-nav">
        <ul>
          <li> <a href="bmi-calculator.html">BMI Calculator </a> </li>
          <li> <a href="blood-pressure-caluclator.html">Blood Pressure Calculator </a> </li>
        </ul>
      </div>
      <div class="footer-title">Disease And Conditions </div>
      <div class="footer-nav">
        <ul>
          <li> <a href="diseases-and-condition/heart-failure.html">Heart Failure </a> </li>
          <li> <a href="diseases-and-condition/high-blood-pressure.html">High Blood Pressure </a> </li>
          <li> <a href="diseases-and-condition/diabetes.html">Diabetes </a> </li>
          <li> <a href="diseases-and-condition/osteoporosis.html">Osteoporosis </a> </li>
          <li> <a href="diseases-and-condition.html">view all </a> </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footer-title"> Fortis DTM </div>
      <address>
      Address:
      </address>
      <p> Contact: </p>
      <div class="footer-title"> Stay Connected </div>
      <div class="social-icons">
        <ul>
          <li> <a href="" target="_blank"> <i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="" target="_blank"> <i class="fa fa-youtube-play"></i> </a> </li>
          <li> <a href="" target="_blank"> <i class="fa fa-google-plus"></i> </a> </li>
        </ul>
      </div>
      </div>
      
     <div class="clearfix">
         
      <div class="col-sm-12"><div class="footer-nav"> <ul>
          <li> <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a></li></ul></div></div>
  </div>
  
  </div>