
<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  
  <!-- Indicators -->
  
  <!-- Wrapper for slides -->
  
</div>

<div class="main">

  <div class="container">

    <div class="gray-bg text-center">

      <div class="page-title"> Our Specialities </div>

      <p> At Fortis Escorts, we believe in quality treatment. Hence, we entrust your health in the hands of some of the most experienced doctors ranging from various specialties. We offer the latest innovations in cardiac care and clinical therapies to patients of all ages to give each patient the best care possible. </p>

      <h1> <span> Specialities </span> </h1>

      <div class="our-specialities-page">
        
        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/fortis-heart-institute.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Cardiology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Cardiology </h2>
              <p>The Largest and Most Adept Cardiac Surgery Team In The World </p>
              <a href="cardiology.html" class="info">Details</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/cardiac-surgery.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Cardiac Surgery </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Cardiac Surgery </h2>
              <p>The Largest and Most Adept Cardiac Surgery Team In The World.</p>
              <a href="paediatric-cardiac-surgery.html" class="info">Details</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/paediatric-cardiology.jpg"> <span> <i class="fa fa-heart-o"></i> <br>
            Paediatric Cardiology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Paediatric Cardiology </h2>
              <p>Only Hospital with a Specialized Multi Disciplinary Team of Paediatric Cardiologists</p>
              <a href="index.html" class="info">Details</a> 
            </div>
          </div>
        </div>        

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/fortis-bone-spine-institute.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Bone and Joint Institute </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Bone and Joint Institute </h2>
              <p>The Bone And Joint Institute is a high-end super Specialty centre</p>
              <a href="bone-and-joint-institute.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/fortis-liver-digestive-diseases-institute.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Liver & Digestive 
            Diseases Institute </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Liver & Digestive
                Diseases Institute </h2>
              <p>The Department prides itself in providing compassionate care with a high premium on patient satisfaction. </p>
              <a href="liver-and-digestive-diseases-institute.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/fortis-kidney-urology.jpg"> <span> <i class="fa fa-heart-o"></i> <br>
            Kidney And Urology Institute </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Kidney And Urology Institute </h2>
              <p>Kidney And Urology Institute</p>
              <a href="kidney-and-urology-institute.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/paediatric-cardiac-surgery.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Paediatric Cardiac Surgery </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Paediatric Cardiac Surgery </h2>
              <p>Only Hospital with a Specialized Multi Disciplinary Team of Paediatric Cardiologists.</p>
              <a href="paediatric-cardiac-surgery.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/anaesthesiology.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Anaesthesiology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Anaesthesiology </h2>
              <p>Anaesthesiology</p>
              <a href="anaesthesiology.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/blood-bank.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Blood Bank </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Blood Bank </h2>
              <p>The hospital has a licensed and NABH Accredited Blood Bank.</p>
              <a href="blood-bank.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/dentistry.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Dentistry </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Dentistry </h2>
              <p>Dentistry</p>
              <a href="dentistry.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/diabetology.jpg"> <span> <i class="fa fa-heart-o"></i> <br>
            Diabetology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Diabetology </h2>
              <p>Diabetology.</p>
              <a href="diabetology.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/nephrology.jpg"> <span> <i class="fa fa-heart-o"></i> <br>
            Nephrology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Nephrology </h2>
              <p>Nephrology</p>
              <a href="http://www.fortisescorts.in/nephrology" class="info">Details</a> 
            </div>
          </div>
        </div>-->

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/neurology.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Neurology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Neurology </h2>
              <p>The department of Neuro Sciences is concerned with the prevention, diagnosis, treatment and rehabilitation of disorders.</p>
              <a href="neurology.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/nuclear-medicine.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Nuclear Medicine </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Nuclear Medicine </h2>
              <p>Nuclear Medicine has got a tremendous role in cardiac imaging</p>
              <a href="nuclear-medicine.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/neuro-surgery.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Neuro Surgery </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Neuro Surgery </h2>
              <p>Neuro Surgery</p>
              <a href="http://www.fortisescorts.in/neurosurgery" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/ophthalmology.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Ophthalmology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Ophthalmology </h2>
              <p>Ophthalmology</p>
              <a href="ophthalmology.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/plastic-surgery.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Plastic & Reconstructive Surgery </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Plastic & Reconstructive Surgery </h2>
              <p>Plastic & Reconstructive Surgery</p>
              <a href="plastic-reconstructive-surgery.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/ent.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            ENT </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                ENT </h2>
              <p>ENT</p>
              <a href="ent.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/radiology.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Radiology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Radiology </h2>
              <p>Radiology is presented by internationally acknowledged practicing experts.</p>
              <a href="radio-imaging.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/pulmonology.jpeg"> <span> <i class="fa fa-heart-o"></i> <br>
            Pulmonology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Pulmonology </h2>
              <p>The FEHI Cardiac Catheterization Laboratory is one of the largest and most advanced Cardiac Cath labs in Asia.</p>
              <a href="pulmonology.html" class="info">Details</a> 
            </div>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-6">
          <div class="view view-first"> <img src="images/urology.jpg"> <span> <i class="fa fa-heart-o"></i> <br>
            Urology </span>
            <div class="mask">
              <h2> <i class="fa fa-heart-o"></i> <br>
                Urology </h2>
              <p>Urology</p>
              <a href="http://www.fortisescorts.in/urology" class="info">Details</a> 
            </div>
          </div>
        </div>-->

        <!--<div class="col-md-4 col-sm-12"> <a href="our-specialities.html" class="btn btn-success btn-block"> All Specialities </a> </div>-->

        <div class="clearfix"></div>

      </div>

    </div>

  </div>

</div>


<div class="block4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4><i class="fa fa-comment"></i> Patients Speak </h4>
        <div class="testimonials">
          <div id="carousel-testimoial" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#testimoial" data-slide-to="0" class="active"></li>
              <li data-target="#testimoial" data-slide-to="1"></li>
              <li data-target="#testimoial" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->  
            <div class="carousel-inner">
                            <div class="item active"><div class="col-sm-3"> <img alt="Hassina Raufi" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Hi, I would like to share my opinion and experience with Fortis Escorts with all the viewers. My dad Najib Raufi was treated in this hospital who came from Afghanistan and was referred to this hosp...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Hassina Raufi</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Brig. S K Grover" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&nbsp;Fortis Escorts Heart Institute where I had the opporunity to have my aortic valve replaced by the chairman Dr. Ashok Seth and Dr. Vijay Kumar &nbsp;which was&nbsp;a wonderful experience and i...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Brig. S K Grover</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Abhijeet Kumar " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Best heart hospital in India, The doctors are very supportive and caring. The most experienced team of doctors when it comes to Heart Treatment. Highly recommended....</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Abhijeet Kumar </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Vibhuti Sharma " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>First there is god to save u r life but on the earth they have created fortis escorts n their hard working doctors, Dr Nishith chandra and Dr ZS M ehrwal great thanks n regards...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Vibhuti Sharma </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ambrish Mishra " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>The excellent hospital . Me and my wife Are surviving only due to timely excellent medical aid by Escorts. We place on record the services provided by Doctors and paramedical staff . We owe our lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ambrish Mishra </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Mudit Swarup" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>This is beyond a review. It's beyond a reccomendation. It's the smallest possible token of my most heartfelt gratitude towards #FortisEscorts and Dr. TS #Kler. A little before my father posed with ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Mudit Swarup</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ms Fameeda " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Dr Mandeep explained to me the surgical procedure and the treatment. I was worried about the outcome.. But when he explained why the procedure was important and how it could give me the free...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ms Fameeda </p>

            <p class="testiCuntry"> Srinagar</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Dr Goyal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I do not have adequate words of gratitude and we are really grateful to the family for taking such a noble decision and in being instrumental restoring life to our daughter. I have seen her ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Dr Goyal</p>

            <p class="testiCuntry"> Rajasthan</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Sardar Amrik Singh daughter " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Hope was very slim when we brought my dad to Fortis Escorts Heart Institute. Seeing him recovering now, our confidence in the skills and expertise of the doctors here has further renewed. Ou...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Sardar Amrik Singh daughter </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Fadhil Hamood" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I really have no words to thank Dr. Mathur and his team. Now I can go back to my country without fear of the medical complications I could possibly have had. The doctors have given me my lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Fadhil Hamood</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Gopal Agarwal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I have no words of gratitude for Dr. Iyer and his team. After 28 years, we experienced the joy of the birth of a baby in my family and it was a happiness that we almost lost. Despite the tim...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Gopal Agarwal</p>

            <p class="testiCuntry"> Mathura</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div>            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-6">
          <h4> <i class="fa fa-video-camera"></i> Virtual Tour </h4>
        </div>
    </div>
  </div>
</div>