
<div class="our-specialities-banner" style="background-image: url(images/our-specialities-banner.jpg);"><div class="container">
   
  </div>  
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href = "index.html">Home</a></li>
       
    <li class = "active"> Our Values </li>
    
    
  </ol>
</div>

<div class="main">
  <div class="container">
    <div class="white-bg our-specialities-internalpage">
      <div class="row">
        <div class="col-sm-12">
          <div class="our-value-page">
<div class="our-value-box">
<div class="col-sm-8">

</div>

</div>

</div>                     
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4><i class="fa fa-comment"></i> Patients Speak </h4>
        <div class="testimonials">
          <div id="carousel-testimoial" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#testimoial" data-slide-to="0" class="active"></li>
              <li data-target="#testimoial" data-slide-to="1"></li>
              <li data-target="#testimoial" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->  
            <div class="carousel-inner">
                            <div class="item active"><div class="col-sm-3"> <img alt="Hassina Raufi" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Hi, I would like to share my opinion and experience with Fortis Escorts with all the viewers. My dad Najib Raufi was treated in this hospital who came from Afghanistan and was referred to this hosp...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Hassina Raufi</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Brig. S K Grover" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&nbsp;Fortis Escorts Heart Institute where I had the opporunity to have my aortic valve replaced by the chairman Dr. Ashok Seth and Dr. Vijay Kumar &nbsp;which was&nbsp;a wonderful experience and i...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Brig. S K Grover</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Abhijeet Kumar " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Best heart hospital in India, The doctors are very supportive and caring. The most experienced team of doctors when it comes to Heart Treatment. Highly recommended....</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Abhijeet Kumar </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Vibhuti Sharma " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>First there is god to save u r life but on the earth they have created fortis escorts n their hard working doctors, Dr Nishith chandra and Dr ZS M ehrwal great thanks n regards...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Vibhuti Sharma </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ambrish Mishra " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>The excellent hospital . Me and my wife Are surviving only due to timely excellent medical aid by Escorts. We place on record the services provided by Doctors and paramedical staff . We owe our lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ambrish Mishra </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Mudit Swarup" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>This is beyond a review. It's beyond a reccomendation. It's the smallest possible token of my most heartfelt gratitude towards #FortisEscorts and Dr. TS #Kler. A little before my father posed with ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Mudit Swarup</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ms Fameeda " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Dr Mandeep explained to me the surgical procedure and the treatment. I was worried about the outcome.. But when he explained why the procedure was important and how it could give me the free...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ms Fameeda </p>

            <p class="testiCuntry"> Srinagar</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Dr Goyal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I do not have adequate words of gratitude and we are really grateful to the family for taking such a noble decision and in being instrumental restoring life to our daughter. I have seen her ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Dr Goyal</p>

            <p class="testiCuntry"> Rajasthan</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Sardar Amrik Singh daughter " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Hope was very slim when we brought my dad to Fortis Escorts Heart Institute. Seeing him recovering now, our confidence in the skills and expertise of the doctors here has further renewed. Ou...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Sardar Amrik Singh daughter </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Fadhil Hamood" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I really have no words to thank Dr. Mathur and his team. Now I can go back to my country without fear of the medical complications I could possibly have had. The doctors have given me my lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Fadhil Hamood</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Gopal Agarwal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I have no words of gratitude for Dr. Iyer and his team. After 28 years, we experienced the joy of the birth of a baby in my family and it was a happiness that we almost lost. Despite the tim...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Gopal Agarwal</p>

            <p class="testiCuntry"> Mathura</p>

            <a href="testimonials.html" class="viemore">view more</a> </div>

              </div>            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-6">
          <h4> <i class="fa fa-video-camera"></i> Virtual Tour </h4>
        </div>
    </div>
  </div>
</div>