
<div class="our-specialities-banner" style="background-image: url(images/our-specialities-banner.jpg);"><div class="container">
   
  </div>  
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href = "/">Home</a></li>
       
    <li class = "active"> Book An Appointment </li>
    
    
  </ol>
</div>
<style>
/***** Top content *****/

.form-box {
  padding-top: 40px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px; background-color:#FFF;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

form .form-bottom textarea {
  height: 100px;
}

form .form-bottom button.btn {
  min-width: 105px;
}

form .form-bottom .input-error {
   border: 2px solid #00a951;
    height: 47px;
}

form.registration-form fieldset {
  display: none;
}


/*
input[type="text"], 
input[type="password"], input[type="radio"], input[type="checkbox"],  
textarea,select, 
textarea.form-control {
  
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;      
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
*/
/*textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }*/

</style>


<div class="main">

  <div class="container">

    <div class="white-bg book-an-appointment-internalpage">

      <div class="row">

        <div class="col-sm-12">



          <h2>BOOK AN APPOINTMENT</h2>

                   

          <p align="center">
            

             

             </p>

         

          <form action="http://www.fortisescorts.in/process.php" method="POST" role="form" enctype="multipart/form-data" class="registration-form">  
          <fieldset>
          <div class="form-top">
                                <div class="">
                                  <h3>Step 1 / 2</h3> 
                                </div>                                
                                </div>
                                    
                                     <div class="form-bottom">

          <input type="hidden" value="book-an-appoinment" name="action" />      

          <div class="form-group col-sm-6"> 

          <p> First Name <small class="red"> * </small> </p>

          <input type="text" class="form-control" id="first_name" name="first_name" value="">

          </div>  

          <div class="form-group col-sm-6"> 

          <p> Last Name </p>

          <input type="text" class="form-control" id="last_name" name="last_name" value=""/>

          </div>   
             <div class="clearfix"></div>   

          <div class="form-group col-sm-6"> 

          <p> Cell Phone <small class="red"> * </small> </p>

         <input type="text" class="form-control" id="cell_phone" name="cell_phone" value=""/> 

          </div>   
          
          <div class="form-group col-sm-6"> 

          <p> E-mail <small class="red"> * </small> </p>

          <input type="email" class="form-control" id="email" name="email"  value=""/> 

          </div>
          
              <div class="clearfix"></div>       
          
          <div class="form-group col-sm-6"> 

          <p> Date of Birth <small class="red"> * </small> </p>

          

               <div class='input-group date' id='datetimepicker6'>

                    <input type='text' class="form-control" placeholder="Date" name="birth_date" value=""/> 

                    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>





          <!--<input type="text" class="form-control" id="first_name" name="first_name">-->

          </div>       
            
     <div class="form-group col-sm-6"> 

          <p> Gender <small class="red"> * </small> </p>

          <div class="col-sm-3 noPadding"><input type="radio"  id="gender" checked value="Male" name="gender"/> Male</div>  

          <div class="col-sm-9"><input id="gender" type="radio"  value="Female" name="gender"/> Female </div>

          </div>
          
           <div class="clearfix"></div>
          <div class="form-group col-sm-6"> 

          <p> Address <small class="red"> * </small></p>

          <textarea class="form-control" rows="2" id="address" name="address"></textarea>

          </div>
            
          <div class="form-group col-sm-6"> 

          <p> City <small class="red"> * </small> </p>

         <input type="text" class="form-control" id="city" name="city" value="">  

          </div>   
           <div class="clearfix"></div>
          <div class="form-group col-sm-6"> 

          <p> State/ U.T.<small class="red"> * </small> </p>

           <div class="styled-select">  <select id="state" name="state">
                                        <option value="">Select State</option><option  value="Andaman & Nicobar Islands">Andaman & Nicobar Islands</option><option  value="Andhra Pradesh">Andhra Pradesh</option><option  value="Arunachal Pradesh">Arunachal Pradesh</option><option  value="Assam">Assam</option><option  value="Bihar">Bihar</option><option  value="Chandigarh">Chandigarh</option><option  value="Chhattisgarh">Chhattisgarh</option><option  value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option><option  value="Daman and Diu">Daman and Diu</option><option  value="Delhi">Delhi</option><option  value="Goa">Goa</option><option  value="Gujarat">Gujarat</option><option  value="Haryana">Haryana</option><option  value="Himachal Pradesh">Himachal Pradesh</option><option  value="Jammu And Kashmir">Jammu And Kashmir</option><option  value="Jharkhand">Jharkhand</option><option  value="Karnataka">Karnataka</option><option  value="Kerala">Kerala</option><option  value="Lakshadweep">Lakshadweep</option><option  value="Madhya Pradesh">Madhya Pradesh</option><option  value="Maharastra">Maharastra</option><option  value="Manipur">Manipur</option><option  value="Meghalaya">Meghalaya</option><option  value="Mizoram">Mizoram</option><option  value="Nagaland">Nagaland</option><option  value="Orissa">Orissa</option><option  value="Pondicherry">Pondicherry</option><option  value="Punjab">Punjab</option><option  value="Rajasthan">Rajasthan</option><option  value="Sikkim">Sikkim</option><option  value="Tamil Nadu">Tamil Nadu</option><option  value="Telangana">Telangana</option><option  value="Tripura">Tripura</option><option  value="Uttar Pradesh">Uttar Pradesh</option><option  value="Uttarakhand">Uttarakhand</option><option  value="West Bengal">West Bengal</option></select>          </div>
          </div>       
             <div class="clearfix"></div>

        
          
          
          
          
              
              <div class="clearfix"></div>
       <div class="form-group col-sm-12" align="center"> 
           <button type="button" class="btn btn-next book-appointment-succes">Next</button> 
        </div>
           </div>

           </fieldset>
           
           <fieldset>
           
             <div class="form-top">
                                <div class="">
                                  <h3>Step 2 / 2</h3>
                                    
                                </div>                                
                                </div>                                    
                                     <div class="form-bottom">
                                     
          <div class="form-group col-sm-6"> 

          <p> Select a Physician <small class="red"> * </small> </p>

          <div class="styled-select">  <select id="physician" name="physician">
                                        <option value="">Select Physician</option><option  value="91">A. K. Singh</option><option  value="103">Adil Rizvi</option><option  value="96">Ajay Kumar</option><option  value="57">Ajay Kumar Dhar</option><option  value="55">Amit Varma</option><option  value="146">Amita Jain</option><option  value="54">Anil Karlekar</option><option  value="148">Anil Mandhani</option><option  value="31">Anil Saxena</option><option  value="128">Anupama Nair</option><option  value="1">Aparna Jaswal</option><option  value="102">Arif Mustaqueem</option><option  value="123">Arun Kumar Singhai</option><option  value="33">Ashok Khera</option><option  value="15">Ashok Kumar Omar</option><option  value="132">Ashok Rajgopal</option><option  value="4">Ashok Seth</option><option  value="71">Ashok Sharma</option><option  value="63">Ashutosh Vallabh Sharma</option><option  value="147">Ashwin Mallya</option><option  value="17">Atul Mathur</option><option  value="68">Atul Verma</option><option  value="134">Balwinder Rana</option><option  value="66">Chetna Arora</option><option  value="3">Deepak Chaudhary</option><option  value="95">Deepak Kapoor</option><option  value="153">Feroz Amir Zafar</option><option  value="94">Harsaran Singh</option><option  value="150">Himanshu Gupta</option><option  value="136">Himanshu Suri</option><option  value="124">Indraneel Bandopadhyaya</option><option  value="137">Kalpana Aggarwal</option><option  value="56">Krishna Kant Sharma</option><option  value="23">Krishna Subramony Iyer</option><option  value="120">Kushal Jain </option><option  value="138">Lovelesh Kakani</option><option  value="97">Manav Wadhawan</option><option  value="37">Mandeep Singh</option><option  value="101">Mitu Anand Minocha</option><option  value="67">Mona Bhatia</option><option  value="60">Naresh K. Aggarwal</option><option  value="144">Narottam Puri</option><option  value="51">Naveen Saraf</option><option  value="19">Nishith Chandra</option><option  value="27">Parvathi Unninayar Iyer</option><option  value="32">Peeyush Jain</option><option  value="121">Poonam Khurana</option><option  value="115">Pradyut Bag</option><option  value="152">Pranaw Kumar Jha</option><option  value="111">Prashant Kumar Saikia</option><option  value="45">Pratik Mittal</option><option  value="16">Praveer Agarwal</option><option  value="90">R. S. Chatterjee</option><option  value="21">Rajat Agrawal</option><option  value="98">Rajeev Shandil</option><option  value="151">Rajeev Verma</option><option  value="130">Rajesh Ahlawat</option><option  value="133">Raman Kant Aggarwal</option><option  value="70">Ramesh C. Khurana</option><option  value="127">Ramji Mehrotra</option><option  value="122">Ranju Agarwal</option><option  value="139">Rashmi Chauhan Mehta</option><option  value="149">Rashmi Rajat Chopra</option><option  value="2">Ravindra Saxena</option><option  value="140">Ruchika Rao</option><option  value="104">S. Radha Krishnan</option><option  value="18">Sameer Shrivastava</option><option  value="118">Sanjeev Pandey</option><option  value="110">Sanjiv Kumar Varshney</option><option  value="52">Savitri Shrivastava</option><option  value="113">Shamit Gupta</option><option  value="61">Sumir Girotra</option><option  value="58">Sunil Dhole</option><option  value="48">Surender Nath Khanna</option><option  value="72">Surendra Pratap Singh</option><option  value="141">Surinder Mohan Sharma</option><option  value="126">Sushil Azad</option><option  value="22">T.S. Kler</option><option  value="24">Upendra Kaul</option><option  value="131">Vijay Kher</option><option  value="35">Vijay Kumar</option><option  value="109">Vikas Sharma</option><option  value="28">Vinay Kumar Sharma</option><option  value="25">Viney Jetley</option><option  value="143">Vipin Chand Tyagi</option><option  value="142">Vipul Gupta</option><option  value="34">Vishal Rastogi</option><option  value="135">Vivek Dahiya</option><option  value="26">Vivek Kumar</option><option  value="106">Vivek Vij</option><option  value="50">Yugal K. Mishra</option><option  value="49">Z. S. Meharwal</option></select>
          </div>

          </div>           
          
            <div class="form-group col-sm-6"> 

          <p> Select Day <small class="red"> * </small> </p>

          <div class="styled-select">  <select id="appointment_date" name="appointment_date">
                                        <option value="">Select Day</option><option  value="Monday">Monday</option><option  value="Tuesday">Tuesday</option><option  value="Wednesday">Wednesday</option><option  value="Thursday">Thursday</option><option  value="Friday">Friday</option><option  value="Saturday">Saturday</option><option  value="Sunday">Sunday</option></select>
          </div>

          </div>  
          
           <div class="clearfix"></div>
          <div class="form-group col-sm-6"> 

          <p> Select Time <small class="red"> * </small> </p>

          <div class="styled-select">  <select id="appointment_time" name="appointment_time">
                                        <option value="">Select Time Slot</option><option  value="00- 01 AM">00- 01 AM</option><option  value="01- 02 AM">01- 02 AM</option><option  value="02- 03 AM">02- 03 AM</option><option  value="03- 04 AM">03- 04 AM</option><option  value="04- 05 AM">04- 05 AM</option><option  value="05- 06 AM">05- 06 AM</option><option  value="06- 07 AM">06- 07 AM</option><option  value="07- 08 AM">07- 08 AM</option><option  value="08- 09 AM">08- 09 AM</option><option  value="09- 10 AM">09- 10 AM</option><option  value="10- 11 AM">10- 11 AM</option><option  value="11- 12 AM">11- 12 AM</option><option  value="12- 01 PM">12- 01 PM</option><option  value="01- 02 PM">01- 02 PM</option><option  value="02- 03 PM">02- 03 PM</option><option  value="03- 04 PM">03- 04 PM</option><option  value="04- 05 PM">04- 05 PM</option><option  value="05- 06 PM">05- 06 PM</option><option  value="06- 07 PM">06- 07 PM</option><option  value="07- 08 PM">07- 08 PM</option><option  value="08- 09 PM">08- 09 PM</option><option  value="09- 10 PM">09- 10 PM</option><option  value="10- 11 PM">10- 11 PM</option></select>
          </div>

          </div>

          <div class="form-group col-sm-6"> 

          <p> Preferred method of contact  </p>
          <div class="col-sm-3 noPadding"><input type="radio"  id="contact_method" checked value="Email" name="contact_method"/> Email </div> 
          <div class="col-sm-9"> <input type="radio" id="contact_method"  value="Phone" name="contact_method"/> Phone </div>          

          </div>
          
          <div class="clearfix"></div>      
          <div class="form-group col-sm-6"> 

          <p> Patient  <small class="red"> * </small>  </p>

          <div class="col-sm-6 noPadding"><input type="radio" id="patient"  value="international_patient" name="patient_type"/> International Patient  </div>  

          <div class="col-sm-6"> <input type="radio" id="patient" checked value="domestic_patient" name="patient_type"/> Domestic Patient  </div>

          </div>
             
      <div class="form-group col-sm-6"> 

          <p> Routine Visit </p>

          <div class="col-sm-6 noPadding"><input type="checkbox" id="routine_visit" name="routine_visit"  value="yes" /> Yes  </div>

          </div>          
             <div class="clearfix"></div>
               
          <div class="form-group col-sm-6"> 

          <p> Reason for visit <small class="red"> * </small> </p>

           <textarea maxlength="250" class="form-control" rows="3" id="reason" name="reason"></textarea>

          </div>
                      
             <div class="form-group col-sm-6"> 
               <p> Enter Captcha <small class="red"> * </small>  </p>
            <div class="g-recaptcha" data-sitekey="6LcHpBUUAAAAAMoB6MMt-3Q-QReKA4nutJSrkCq9"></div>
            </div>
            
             <div class="clearfix"></div>
            
          <p class="text-center"> By filling out this form, you authorize us to get in touch with you over a phone call or an email, as specified. </p>  
       <div class="form-group col-sm-12" align="center"> 
          
              <input type="hidden" name="Save" value="Add">
                 <button type="button" class="btn btn-previous book-appointment-succes">Previous</button>
        <button type="submit" class="btn book-appointment-succes" style="display:inline-block" onclick="ga('send', 'event', 'bookappointmentbutton', 'clicktosubmit', 'bookappointment', {'page': '/createAppointment.php'});">Submit</button>   
    </div>
        </div>
      </fieldset>

      
          </form>

            <div class="clearfix"></div> 

        </div>

      </div>

    </div>

  </div>

</div>



<div class="block4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4><i class="fa fa-comment"></i> Patients Speak </h4>
        <div class="testimonials">
          <div id="carousel-testimoial" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#testimoial" data-slide-to="0" class="active"></li>
              <li data-target="#testimoial" data-slide-to="1"></li>
              <li data-target="#testimoial" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->  
            <div class="carousel-inner">
                            <div class="item active"><div class="col-sm-3"> <img alt="Hassina Raufi" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Hi, I would like to share my opinion and experience with Fortis Escorts with all the viewers. My dad Najib Raufi was treated in this hospital who came from Afghanistan and was referred to this hosp...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Hassina Raufi</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Brig. S K Grover" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&nbsp;Fortis Escorts Heart Institute where I had the opporunity to have my aortic valve replaced by the chairman Dr. Ashok Seth and Dr. Vijay Kumar &nbsp;which was&nbsp;a wonderful experience and i...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Brig. S K Grover</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Abhijeet Kumar " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>Best heart hospital in India, The doctors are very supportive and caring. The most experienced team of doctors when it comes to Heart Treatment. Highly recommended....</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Abhijeet Kumar </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Vibhuti Sharma " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>First there is god to save u r life but on the earth they have created fortis escorts n their hard working doctors, Dr Nishith chandra and Dr ZS M ehrwal great thanks n regards...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Vibhuti Sharma </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ambrish Mishra " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>The excellent hospital . Me and my wife Are surviving only due to timely excellent medical aid by Escorts. We place on record the services provided by Doctors and paramedical staff . We owe our lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ambrish Mishra </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Mudit Swarup" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>This is beyond a review. It's beyond a reccomendation. It's the smallest possible token of my most heartfelt gratitude towards #FortisEscorts and Dr. TS #Kler. A little before my father posed with ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Mudit Swarup</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Ms Fameeda " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Dr Mandeep explained to me the surgical procedure and the treatment. I was worried about the outcome.. But when he explained why the procedure was important and how it could give me the free...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Ms Fameeda </p>

            <p class="testiCuntry"> Srinagar</p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Dr Goyal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I do not have adequate words of gratitude and we are really grateful to the family for taking such a noble decision and in being instrumental restoring life to our daughter. I have seen her ...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Dr Goyal</p>

            <p class="testiCuntry"> Rajasthan</p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Sardar Amrik Singh daughter " class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;Hope was very slim when we brought my dad to Fortis Escorts Heart Institute. Seeing him recovering now, our confidence in the skills and expertise of the doctors here has further renewed. Ou...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Sardar Amrik Singh daughter </p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Fadhil Hamood" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I really have no words to thank Dr. Mathur and his team. Now I can go back to my country without fear of the medical complications I could possibly have had. The doctors have given me my lif...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Fadhil Hamood</p>

            <p class="testiCuntry"> </p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div><div class="item"><div class="col-sm-3"> <img alt="Gopal Agarwal" class="img-circle img-responsive" src="uploaded_files/documents/no_image.jpg" > </div><div class="col-sm-9"> <i class="fa fa-quote-left fa-4x"></i><p>&ldquo;I have no words of gratitude for Dr. Iyer and his team. After 28 years, we experienced the joy of the birth of a baby in my family and it was a happiness that we almost lost. Despite the tim...</p>

            <i class="fa fa-quote-right fa-4x"></i>

            <p class="testiName">Gopal Agarwal</p>

            <p class="testiCuntry"> Mathura</p>

            <a href="testimonials" class="viemore">view more</a> </div>

              </div>            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-6">
          <h4> <i class="fa fa-video-camera"></i> Virtual Tour </h4>
        </div>
    </div>
  </div>
</div>