<footer>
  <div class="container">
    
    <div class="col-sm-2">
      <div class="footer-title"><a href="patient-and-attendant-responsibilities"> Patient Care </a></div> 
    </div>

    <div class="col-sm-2">
      <div class="footer-title"> <a href="newsroom"> Newsroom </a></div>
    </div>

    <div class="col-sm-2">
      <div class="footer-title"> <a href="sitemap"> Sitemap </a></div>
    </div>

    <div class="col-sm-2">
      <div class="footer-title"> <a href="disclaimer"> Disclaimer </a></div>
    </div>

    <div class="col-sm-2">
      <div class="footer-title"> <a href="#"> Privacy & Medical Ethics</a></div>
    </div>

    <div class="col-sm-2">
      <div class="footer-title"> <a href="bio-medical-waste-report"> BMW Report </a></div>
    </div>
      
     <div class="clearfix">
         
      <div class="col-sm-12"><div class="footer-nav"> <ul>
          <li> <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a></li></ul></div></div>
  </div>
  
  </div>
</footer>

<div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6"><a href="" target="_blank"><img src="images/fortis-health-care-logo.jpg" alt="fortis-health-care"></a>
                  </div>
        <div class="col-sm-6 text-copyright"> © 2017 Fortis DTM. All Rights Reserved. </div>
      </div>
    </div>
</div>

<!-- <a href="#" class="scrollToTop"> <img src="http://www.fortisescorts.in/images/side-arrow.png" class="img-responsive"> </a> --> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 

<a href="/#" class="back-to-top"><em class="glyphicon glyphicon-chevron-up"></em></a>