<header>
  <div class="container">
    <div class="header-top-menu">
      <ul>
      <li> <a href="http://www.fortishealthcare.com/" target="_blank">
      <span> Fortis Healthcare </span> </a> </li>
        <li> <a href="newsroom"> <span> Newsroom </span> </a> </li>
        <!--<li> <a href="http://www.fortisescorts.in/talk-health"> <i class="fa fa-heartbeat"></i> <span> Let’s Talk Health </span> </a> </li>-->
        <!-- <li> <a href="#" data-toggle="tooltip" class="btn btn-default" title="+91-11-26825002/03"> <i class="fa fa-ambulance"></i> <span> EMERGENCY </span> <i class="fa fa-caret-square-o-down"></i> </a> </li> -->
      <li>  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <i class="fa fa-ambulance"></i>
<span> EMERGENCY </span>
<i class="fa fa-caret-square-o-down"></i></button>
  <ul class="dropdown-menu">
    <li> <a href="tel:XXXXXXXXXX"> XXXXX </a> </li>
   <li> <a href="tel:XXXXXXXXXX"> +91-XX-XXXXXXXX </a> </li>
  </ul>
</div> </li>
      </ul>
    </div>
    <div class="header-top"> <a href="/" class="navbar-brand"> <img src="images/logo.png" alt="Fortis DTM"></a>
       
    
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu </button>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <a href="/" class="navbar-brand navbar-brand-one navbar-brand-scroll-none"> <img src="images/logo.png" alt="Fortis Escorts"></a>
        
        <ul class="nav navbar-nav">

          <li class="link1 dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            About <br>
            Us </a>
            <a href="#" class="dropdown-toggle hidden-lg hidden-sm hidden-md dropdown-arrow" data-toggle="dropdown"> <i class="fa fa-chevron-down"></i> </a>
            <ul class="dropdown-menu multi-column columns-1 row">
              
              <li >
                <ul class="multi-column-dropdown">
                  <li class="au1"><a href="/history"> History </a></li>
                  <li class="au2"><a href="/meet_the_management"> Meet the Management </a></li>
                  <li class="au3"><a href="/our_values"> Our Values </a></li>
                  <li class="au4"><a href="/facilities"> Facilities </a></li>
                  <li class="au5"><a href="/take_a_tour"> Take  A tour </a></li>
                 <li class="au6"><a href="/empanalments_and_tpa"> 
                 Empanalments And TPA </a></li>
                </ul>
              </li>

            </ul>
          </li>

          <li class="link2 dropdown"> <a href="/our_specialities">  Our <br> Specialities </a>
              <a href="our-specialities" class="dropdown-toggle hidden-lg hidden-sm hidden-md dropdown-arrow" data-toggle="dropdown"> 
              <i class="fa fa-chevron-down"></i> </a>
                
              <ul class="dropdown-menu multi-column columns-1 row paddingL-0">
                
                <li >
                  <ul class="multi-column-dropdown">
                    <li><a href="/cardiology">Cardiology</a></li>
                    <li><a href="/cardiac_surgery">Cardiac Surgery</a></li>
                    <li><a href="/critical_care_medicine">Orthopaedics</a></li>
                    <li><a href="/neurology">Neurology</a></li>
                    <li><a href="/clinical_psychology">Neurosurgery</a></li>
                    <li><a href="/dentistry">Urology</a></li>
                    <li><a href="/diabetology">Nephrology</a></li>
                    <li><a href="/ent">Paediatrics</a></li>
                    <li><a href="/general_surgery">General Surgery</a></li>
                    <li><a href="/internal_medicine">Internal Medicine</a></li>
                    <li class="view-all"><a href="our_specialities"> View All Specialities </a> </li>
                  </ul>
                </li>
   
              </ul>
          </li>

          <li class="link3 dropdown"> <a href="/opd_schedule" > 
              Our <br>
              Doctors </a>
          </li>

          <li class="link4 dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
              Patient <br>
              Care </a>
              <a href="#" class="dropdown-toggle hidden-lg hidden-sm hidden-md dropdown-arrow" data-toggle="dropdown"> <i class="fa fa-chevron-down"></i> </a>
              
              <ul class="dropdown-menu multi-column columns-2 row">
                <li class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <li class="pc1"><a href="/admission_process"> Admission Process </a></li>
                    <li class="pc2"><a href="/discharge_process"> Discharge Process </a></li>
                    <li class="pc3"><a href="/guidelines_for_visitors"> 
                    Guidelines For Visitors </a></li>
                    <li class="pc4"><a href="patient_and_attendant_responsibilities"> 
                    Patient’s Rights & Responsibilities </a></li>               
                  </ul>
                </li>
                <li class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <li class="pc5"><a href="/testimonials"> Testimonials </a></li>
                    <li class="pc6"><a href="/opd_schedule"> OPD Schedule </a></li>
                    <li class="pc7"><a href="/find_a_doctor"> 
                      Find a Doctor</a></li>
                    <li class="pc8"><a href="/book_an_appointment"> 
                      Request an Appointment</a></li>
                  </ul>
                </li>
              </ul>
          </li>
          
          <li class="link5 dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
              Contact <br>
              Us </a>
              <a href="#" class="dropdown-toggle hidden-lg hidden-sm hidden-md dropdown-arrow" data-toggle="dropdown"> <i class="fa fa-chevron-down"></i> </a>
              
              <ul class="dropdown-menu">
                <li class="c1"><a href="/post_a_query"> Post a Query</a></li>
                <li class="c2"><a href="/careers"> We are Hiring </a> </li>
                <li class="c3"><a href="/ask_fortis_escorts"> Write to Us</a></li>
                <li class="c4"><a href="/location"> Google Map Location </a> </li>
              </ul>
          </li>
        
          <li class="link6 dropdown"> <a href="/book_an_appointment"> 
              Request <br>
              An Appointment </a>            
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>